html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  background: url(https://images.unsplash.com/photo-1560762484-813fc97650a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: filter 0.7s;
}

.container h1 {
  color: white;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
  border: none;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  background-color: orangered;
  border-radius: 5px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
}

.btn:hover {
  filter: brightness(0.8);
}

.active.container {
  filter: blur(5px) brightness(0.7);
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: url(https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.7s;
}

.popup-container h4 {
  font-size: 30px;
  margin: 10px 0px;
  font-family: sans-serif;
  color: blueviolet;
}

.popup-container label {
  font-family: sans-serif;
  color: blueviolet;
}

.popup-btn {
  background-color: orangered;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  border: 2px solid black;
  cursor: pointer;
}

.input {
  border: 2px solid;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.input::placeholder {
  color: lightgrey;
}

.close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.close-icon:hover {
  color: orangered;
}

.active.popup-container {
  visibility: hidden;
  opacity: 0;
  top: 10%;
}
